#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #1784f8;
}

body {
    background-color: #ffc8dd;
}

header {
    background-color: #ffc8dd;
}

nav a:hover {
    background-color: #fcfcfc;
}

a:hover {
    text-decoration: underline;
}

.book:hover, .join:hover {
    background-color: #ffc8dd;
    color: black;
}

.book, .join {
    text-decoration: none;
    color: black;
}

.msg {
    background-color: #285879;
    color: white;
}

footer {
    background-color: #285879;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}