@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto+Slab:wght@100&display=swap');

.home-title {
    font-family: 'Roboto Slab', 'Helvetica', 'sans-serif' ;
    font-size: 2em;
    margin-top: 10px;
}

.msg h2 {
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.booton-box a {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #1784f8;
}

body {
    background-color: #ffc8dd;
    font-family: 'Roboto Slab', 'Helvetica', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #ffc8dd;
}

nav a:hover {
    background-color: #fcfcfc;
}

a:hover {
    text-decoration: underline;
}

.book, .join {
    background-color: rgb(21, 68, 85);
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #360518;
    color: white;
    text-decoration: none;
}

.mountains {
    padding: 80px 0;
}

.msg {
    background-color: #285879;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #285879;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    font-size: 1.2em;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.card-img {
    border: 10px solid #d9c2a3;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapid-card {
    margin: 200px 0;
}